<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <table th:fragment="table" border="1" cellpadding="5">
    <caption><h2>All users</h2></caption>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Role</th>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}" /></td>
                <td th:text="${user.firstName}" /></td>
                <td th:text="${user.lastName}" /></td>
                <td th:text="${user.age}" /></td>
                <td th:text="${user.email}" /></td>
                <td>
                    <a th:each="role : ${user.roles}">
                        <a th:text="${role.toString()}">
                        </a>
                    </a>
                </td>
                <td>
                    <a th:href="@{admin/edit(id=${user.id})}">Edit</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a th:href="@{admin/delete(id=${user.id})}">Delete</a>
                </td>
            </tr>
    </tr>
</table>
</body>
</html>